body {
    overflow-x: hidden;
}
/********** Header Sectoin **********/
header {
    /* border: solid; */
    height: 13vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 2%;
    top: 2.1vmax;
    width: 25vw;
}

@media (max-width: 1000px) {
    .logo {
        width: 30vw;
    }
}

@media (max-width: 840px) {
    .logo {
        width: 35vw;
    }
}

@media (max-width: 740px) {
    .logo {
        width: 40vw;
    }
}

@media (max-width: 520px) {
    .logo {
        width: 55vw;
    }
}

.icon {
    display: none;
}

@media (max-width: 1190px) {
    header {
        background-color: #fda136;
        position: fixed;
    }
    .main_nav {
        display: none;
    }
    .menu_nav {
        display: none;
        bottom: 0%;
        height: 35px;
        position: absolute;
        width: 100%;
    }
    .menu_nav ul {
        background-color: #fff;
        /* border: solid; */
        position: fixed;
        top: 13%;
        width: 100%;
        z-index: 3;
    }

    .menu_nav ul li {
        /* background-color: #fda136; */
        border-bottom: solid #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: bolder;
        margin: 1% 0%;
        padding: 3vh 0;
    }

    .menu_nav ul li a {
        /* border-right: solid; */
        color: #fda136;
        padding: 0% 1%;
        text-decoration: none;
    }

    .icon {
        /* border: solid; */
        /* background-color: #00000075; */
        bottom: 15%;
        display: block;
        right: 2.5%;
        padding: 0.5em;
        position: absolute;
        z-index: 5;
    }

    .icon div {
        width: 4vw;
        height: 0.5vh;
        background-color: #fff;
        margin: 1.3vh 0;
    }
}

@media (min-width: 1190px) {
    .nav-scrolled {
        background-color: #fda136;
        height: 50px;
        position: fixed;
        transition: all 1s;
        box-shadow: 0 3px 20px rgba(rgb(20, 175, 0), 1);
    }

    .nav-scrolled .logo {
        width: 15vw;
        top: 1.5vh;
    }

    .nav-scrolled .main_nav {
        /* border: solid; */
        display: block;
        bottom: 25%;
        height: 25px;
        right: 0%;
        position: absolute;
        width: 33%;
    }
    .menu_nav {
        display: none;
        opacity: 0;
    }
    .main_nav {
        /* border: solid; */
        display: block;
        bottom: 0%;
        height: 35px;
        right: 0%;
        position: absolute;
        width: 33%;
    }
    .main_nav ul {
        /* border: solid; */
        position: absolute;
        top: 20%;
        left: -2%;
        width: 100%;
        z-index: 3;
    }

    .main_nav div {
        background-color: #fda136;
        /* border: solid; */
        height: 100%;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .main_nav ul li {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bolder;
        margin-left: 3%;
    }

    .main_nav ul li a {
        border-right: solid;
        color: #fff;
        padding: 0% 1%;
        text-decoration: none;
    }

    .main_nav ul li:last-child a {
        border: none;
    }
}

/********** FIRST SECTION **********/
@media (max-width: 1190px) {
    .hidden {
        display: block;
        height: 13vh;
        width: 100%;
    }
}

.first-section {
    /* border: solid; */
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.first-section .slide-container {
    /* border: solid; */
    height: 100%;
}

.first-section .slide-container img {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.first-section .button {
    background-color: #fda136;
    border: 0;
    display: inline-block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmax;
    font-weight: 750;
    height: 8vh;
    left: 40vw;
    line-height: 8vh;
    top: 37vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 20vw;
}

@media (max-width: 1190px) {
    .first-section .slide-container img {
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .first-section {
        height: auto;
    }
}

@media (max-width: 590px) {
    .first-section .button {
        background-color: #fda136;
        border: 0;
        display: block;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3vmax;
        font-weight: 750;
        height: 8vh;
        line-height: 8vh;
        margin-top: -5vh;
        position: unset;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
}

/********** SECOND SECTION **********/
.second-section {
    /* border: solid; */
    display: flex;
    flex-direction: row;
    width: 100%;
}
.second-section .about-pic {
    /* border: solid; */
    height: 100vh;
    width: 50%;
}

.second-section div {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    padding: 10% 5% 0% 5%;
    width: 50%;
}

.second-section div img {
    /* border: solid; */
    width: 65%;
    height: 80px;
}

.second-section div p {
    /* border: solid; */
    font-family: "AlrightSans", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 140%;
    padding: 2%;
    width: 90%;
}

.second-section div a {
    background-color: #e80e4a;
    box-shadow: 3px 4px 16px -2px #555;
    color: #fff;
    font-family: "AlrightSans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 59%;
    margin-top: 2%;
    padding: 2%;
    text-decoration: none;
    width: fit-content;
}

/******************************** As-har's Part  *****************************/

.pdf-card hr {
    /* border: 0; */
    border-top: solid 0.15px;
    bottom: 10%;
    left: 25%;
    position: absolute;
    width: 50%;
}
.pdf-card:hover {
    background: #e80e4a;
    box-shadow: 1px 1px 6px 1px grey;
    cursor: pointer;
    transition: 1s;
}

.pdf-card {
    color: #fff;
    line-height: 150%;
    /* vertical-align: 50%; */
    text-decoration: none;
    transition: 1s;
    position: relative;
}

.by-school-button,
.by-degree-button {
    color: white;
    background: #efa51c;
    padding: 1.5vh;
    border: none;
    margin: 1vh;
    box-shadow: 3px 5px 10px 3px rgba(128, 128, 128, 0.774);
}
.by-school-button:hover,
.by-degree-button:hover {
    box-shadow: 0px 2px 10px 0px rgba(128, 128, 128, 0.836);
    transition: 350ms;
}
.by-school-button:focus,
.by-degree-button:focus {
    box-shadow: -3px -5px 10px 0px rgba(128, 128, 128, 0.808);
}

@media (min-width: 768px) {
    /* -------- Third section -------- */
    .third-section {
        /* border: solid green; */
        position: relative;
        height: 720px;
    }
    .part-one {
        /* border: solid; */
        padding: 7% 0%;
        width: 30%;
    }
    .part-one img {
        /* border: solid; */
        margin: 0% 15%;
        width: 75%;
    }
    .part-one p {
        /* border: solid; */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 140%;
        margin: 2% 15%;
        padding: 1%;
        width: 80%;
    }
    .part-one button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 5% 15% 0% 15%;
        /* padding: 2% 0%; */
        width: 18vw;
    }

    .right-part .by-school,
    .right-part .by-degree {
        /* border: solid; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        left: 30%;
        padding: 5% 5% 0% 5%;
        position: absolute;
        top: 0%;
        width: 60%;
    }

    .pdf-card {
        background: #5b358d;
        display: table;
        /* border: solid; */
        box-shadow: 6px 6px 11px 1px grey;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        height: 80px;
        margin: 0% 0% 3% 0%;
        padding: 3%;
        position: relative;
        text-align: center;
        width: 25%;
    }

    .pdf-card div {
        /* border: solid #fff; */
        display: table-cell;
        vertical-align: middle;
    }

    /* ------------footer -------------- */
    .footer {
        background: url("../assets/footer-background.png") no-repeat;
        width: 100%;
        padding: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .ifram-div {
        padding: 2% 0%;
        width: 60%;
    }

    .ifram-div .ifram {
        width: 90%;
        height: 96%;
    }
    .contact-div {
        /* padding: 0.7vw; */
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .footer-logo {
        width: 50%;
    }
    .contact-text {
        display: block;
        width: 14vw;
        margin-top: 5vh;
        line-height: 1vh;
        color: #e3b5d6;
    }
    .contact-info {
        display: block;
        font-size: 1em;
        width: 23vw;
        color: #e3b5d6;
    }
    .fa {
        color: #e3b5d6;
        font-size: 1.1em;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 1.6em;
        padding: 0.5vw;
    }
    .complaints-section {
        width: 22vw;
        color: #e3b5d6;
        font-size: 1.1em;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 768px) {
    .pdf-card div {
        font-size: 1.2em;
        background: #5b358d;
        width: 40%;
        padding: 12vw;
        margin: 4vw auto 1vw auto;
        text-align: center;
        box-shadow: 6px 6px 11px 1px grey;
    }

    .part-one button {
        display: block;
        padding: 2.7vw;
        margin: 5vw auto 6vw auto;
        width: 40vw;
    }
    .part-one img {
        margin: 0 auto 0 auto;
        width: 60vw;
        display: block;
    }
    .part-one p {
        margin: 0 auto 0 auto;
        width: 60vw;
    }

    /* ------ footer ------- */
    .footer {
        background-image: linear-gradient(to bottom right, red, rgb(121, 21, 121));
        width: 100%;
        padding: 4vh;
        float: left;
        display: grid;
        margin-top: 5vw;
        grid-template-rows: 2fr;
    }
    .ifram-div {
        grid-row: 2;
        justify-content: center;
        /* margin-left: 2vw; */
        /* margin-top: 1vh; */
    }
    .ifram-div .ifram {
        width: 90vw;
        height: 55vw;
    }
    .footer-logo {
        width: 50vw;
        height: 20vh;
        margin: 1vw auto 2vw auto;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 54vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 1em;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa {
        color: rgb(226, 205, 220);
        font-size: 1.1em;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 2.2em;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 1em;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}
