html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ivory;
    z-index: 999999;
}

.sk-chase {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 40%;
    left: 47%;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: "";
    display: block;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
    animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
    background-color: #fdae54;
}
.sk-chase-dot:nth-child(2):before {
    animation-delay: -1s;
    background-color: #e4a105;
}
.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
    background-color: #cf2102;
}
.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
    background-color: #e70404;
}
.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
    background-color: #a80068;
}
.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
    background-color: #5b358d;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1);
    }
}
/********** Header Sectoin **********/
header {
    /* border: solid; */
    height: 13vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 2%;
        top: 3.1vw;
    width: 25vw;
}

@media (max-width: 1000px) {
    .logo {
        width: 30vw;
    }
}

@media (max-width: 840px) {
    .logo {
        width: 35vw;
    }
}

@media (max-width: 740px) {
    .logo {
        width: 40vw;
    }
}

@media (max-width: 520px) {
    .logo {
        width: 55vw;
    }
}

.icon {
    display: none;
}



@media (max-width: 1024px) {
    header {
        background-color: #fda136;
        position: fixed;
    }
    .main_nav {
        display: none;
    }
    .menu_nav {
        display: none;
        bottom: 0%;
        height: 35px;
        position: absolute;
        width: 100%;
    }
    .menu_nav ul {
        background-color: #fff;
        /* border: solid; */
        position: fixed;
        top: 13%;
        width: 100%;
        z-index: 3;
    }

    .menu_nav ul li {
        /* background-color: #fda136; */
        /* border-bottom: solid #000; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: bolder;
        margin: 1% 0%;
        padding: 3vh 0;
    }

    .menu_nav ul li a {
        /* border-right: solid; */
        color: #fda136;
        padding: 0% 1%;
        text-decoration: none;
    }

    .icon {
        /* border: solid; */
        /* background-color: #00000075; */
        bottom: 15%;
        display: block;
        right: 2.5%;
        padding: 0.5em;
        position: absolute;
        z-index: 5;
    }

    .icon div {
        width: 4vmax;
        height: 0.5vmax;
        background-color: #fff;
        margin: 1.3vh 0;
    }
}

@media (min-width: 1024px) {
    .nav-scrolled {
        background-color: #fda136;
        height: 3.7vw;
        position: fixed;
        transition: all 1s;
        box-shadow: 0 3px 20px rgba(rgb(20, 175, 0), 1);
    }

    .nav-scrolled .logo {
        width: 15vw;
        top: 1.5vh;
    }

    .nav-scrolled .main_nav {
        /* border: solid; */
        display: block;
        bottom: 25%;
        height: 2vw;
        right: 0%;
        position: absolute;
        width: 33%;
    }
    .menu_nav {
        display: none;
        opacity: 0;
    }
    .main_nav {
        /* border: solid; */
        display: block;
        bottom: 0%;
        height: 35px;
        right: 0%;
        
        position: absolute;
        width: 33%;
    }
    .main_nav ul {
        /* border: solid; */
        position: absolute;
        top: 20%;
        left: -2%;
        padding: .5vw;
        width: 100%;
        z-index: 3;
    }

    .main_nav div {
        background-color: #fda136;
        /* border: solid; */
        height: 2.8vw;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .main_nav ul li {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
        font-weight: bolder;
        margin-left: 3%;
    }

    .main_nav ul li a {
        border-right: solid;
        color: #fff;
        padding: 0% 1%;
        text-decoration: none;
    }

    .main_nav ul li:last-child a {
        border: none;
    }
}

/********** FIRST SECTION **********/
@media (max-width: 1024px) {
    .hidden {
        display: block;
        height: 13vh;
        width: 100%;
    }
}

.first-section {
    /* border: solid; */
    display: inline-block;
    position: relative;
    width: 100vw;
}

.first-section .slide-container {
    /* border: solid; */
    height: 100%;
}

.first-section .slide-container img {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.first-section .button {
    background-color: #fda136;
    border: 0;
    display: inline-block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmax;
    font-weight: 750;
    height: 8vh;
    left: 40vw;
    line-height: 8vh;
    top: 37vmax;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 20vw;
}

@media (max-width: 1024px) {
    .first-section .slide-container img {
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .first-section {
        height: auto;
    }
}

@media (max-width: 590px) {
    .first-section .button {
        background-color: #fda136;
        border: 0;
        display: block;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3vmax;
        font-weight: 750;
        height: 8vh;
        line-height: 8vh;
        margin-top: -5vh;
        position: unset;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
}

/********** SECOND SECTION **********/
.second-section {
    /* border: solid; */
    display: flex;
    flex-direction: row;
    width: 100%;
}
.second-section .about-pic {
    /* border: solid; */
    height: 100vh;
    margin-top: -5vh;
    width: 50%;
}

.second-section div {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    padding: 5% 5% 0% 5%;
    width: 50%;
}

.second-section div img {
    /* border: solid; */
    width: 65%;
    height: 80px;
}

.second-section div p {
    /* border: solid; */
    font-family: "AlrightSans", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 140%;
    padding: 2%;
    width: 90%;
}

.second-section div a {
    background-color: #e80e4a;
    box-shadow: 3px 4px 16px -2px #555;
    color: #fff;
    font-family: "AlrightSans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 25vw;
    margin-top: 2%;
    padding: 2%;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 1060px) {
    .second-section {
        /* border: solid; */
        display: block;
        width: 100vw;
        margin-bottom: 5vh;
        width: 100vw;
    }
    .second-section .about-pic {
        /* border: solid; */
        margin-top: 15vh;
        width: 100%;
    }

    .second-section div {
        /* border: solid; */
        position: relative;
        display: block;
        padding: 0vh;
        width: 100%;
    }

    .second-section div img {
        /* border: solid; */
        position: absolute;
        top: -111vh;
        left: 30vw;
        height: auto;
        width: 40vw;
    }

    .second-section div p {
        /* border: solid; */
        font-family: "AlrightSans", sans-serif;
        font-size: 1em;
        font-weight: 100;
        line-height: 140%;
        margin-top: 2vh;
        margin-left: 10vw;
        padding: 0%;
        width: 80vw;
    }

    .second-section div a {
        /* border: solid; */
        background-color: #e80e4a;
        box-shadow: 3px 4px 16px 5px #555;
        color: #fff;
        display: block;
        font-family: "AlrightSans", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 5vh;
        margin-left: 5vw;
        text-align: center;
        padding: 3vh 0vw;
        text-decoration: none;
        width: 90vw;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .second-section div img {
        /* border: solid; */
        top: -117vh;
    }
}

/******************************** As-har's Part  *****************************/

.pdf-card {
    color: #fff;
    text-decoration: none;
    transition: 1s;
    position: relative;
}

.by-school-button,
.by-degree-button {
    color: white;
    background: #efa51c;
    padding: 1.5vh;
    border: none;
    margin: 1vh;
    box-shadow: 3px 5px 10px 3px rgba(128, 128, 128, 0.774);
}
.by-school-button:hover,
.by-degree-button:hover {
    box-shadow: 0px 2px 10px 0px rgba(128, 128, 128, 0.836);
    transition: 350ms;
}
.by-school-button:focus,
.by-degree-button:focus {
    box-shadow: -3px -5px 10px 0px rgba(128, 128, 128, 0.808);
}
.footer {
    background-image: url("../assets/footer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ifram-div {
    padding: 2% 0%;
    width: 60%;
}

.ifram-div .ifram {
    width: 100%;
    height: 96%;
}
.contact-div {
    width: 30%;
}
.footer-logo {
    width: 50%;
}
.contact-text {
    display: block;
    width: 14vw;
    margin-top: 5vh;
    line-height: 1vh;
    color: #e3b5d6;
}
.contact-info {
    padding: 0.5vw;
    line-height: 35px;
    display: block;
    font-size: 1em;
    width: 23vw;
    color: #e3b5d6;
}
.fa {
    color: #e3b5d6;
    font-size: 1.1em;
    margin: 0.5vw;
}
.facebook,
.instagram,
.twitter {
    font-size: 1.6em;
    padding: 0.5vw;
}
.complaints-section {
    width: 22vw;
    color: #e3b5d6;
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 4vh;
}
.complaints-section a {
    color: #e3b5d6;
}

.complaints-section a:hover,
.fa:hover,
.contact-info:hover {
    cursor: pointer;
    color: rgb(243, 236, 241);
}

@media (min-width: 1023px) {
    /* -------- Third section -------- */

    .third-section {
        position: relative;
        height: 59vw;
    }

    .part-one {
        padding: 7% 0%;
        width: 30%;
    }
    .part-one img {
        margin: 0% 15%;
        width: 75%;
    }
    .part-one p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 140%;
        margin: 2% 17%;
        padding: 1%;
        font-size: 1.5vw;
        width: 80%;
    }
    .part-one button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
        margin: 5% 15% 0% 15%;
        width: 15vw;
    }

    .right-part .by-school,
    .right-part .by-degree {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        left: 30%;
        padding: 5% 5% 0% 5%;
        position: absolute;
        top: 0%;
        width: 60%;
    }

    .pdf-card {
        background: #5b358d;
        display: table;
        box-shadow: 6px 6px 11px 1px grey;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        height: 9vw;
        margin: 0% 0% 3% 0%;
        padding: 3%;
        position: relative;
        text-align: center;
        width: 25%;
    }
    .pdf-card:hover {
        background: #e80e4a;
        box-shadow: 1px 1px 6px 1px grey;
        cursor: pointer;
        transition: 1s;
    }

    .pdf-card div {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.5vw;
    }
    .pdf-card hr {
        border-top: solid 0.15px;
        bottom: 16%;
        left: 25%;
        position: absolute;
        width: 50%;
    }

    /* ------------footer -------------- */
    .footer {
        margin-top: 9vw;
        font-size: 1.2vw;
    }
}

@media (max-width: 590px) {
    /* ------- Third Section ------ */

    .pdf-card {
        display: table;
        /* border: solid; */
        font-size: 1.04rem;
        letter-spacing: 1.5px;
        background: #5b358d;
        width: 39vw;
        height: 11vw;
        padding: 10vw;
        margin: 4vw auto 1vw auto;
        text-align: center;
        color: #fff;
        /* line-height: 150%; */
        text-decoration: none;
        transition: 1s;
        position: relative;
        box-shadow: 6px 6px 11px 1px grey;
    }
    .pdf-card hr {
        /* border: 0; */
        border-top: solid 0.15px;
        bottom: 26%;
        left: 25%;
        position: absolute;
        width: 50%;
    }

    .part-one button {
        display: block;
        padding: 2.7vw;
        margin: 5vw auto 6vw auto;
        width: 40vw;
    }
    .part-one img {
        margin: 0 auto 0 auto;
        width: 60vw;
        display: block;
    }
    .part-one p {
        margin: 0 auto 0 auto;
        width: 60vw;
    }

    .pdf-card hr {
        border-top: solid 0.15px;
        bottom: 18%;
        width: 50%;
    }
    .pdf-card:hover {
        background: #e80e4a;
        box-shadow: 1px 1px 6px 1px grey;
        cursor: pointer;
        transition: 1s;
    }

    /* ------ footer ------- */

    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        padding: 4vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        margin-top: 5vw;
        grid-template-rows: 2fr;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 auto 0 auto;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 40vw;
        height: 20vh;
        margin: 1vw auto 2vw auto;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 40vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 1em;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa {
        color: rgb(226, 205, 220);
        font-size: 1.1em;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 2.2em;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 1em;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 590px) and (max-width: 1023px) {
    /* ----- Third section ----- */

    .third-section {
        margin: 4vw 0 3vw 0;
        display: grid;
        grid-template-columns: 35% 65%;
        line-height: 2vw;
    }
    .part-one {
        padding: 7% 0%;
        width: 100%;
    }
    .part-one img {
        margin: 0% 15%;
        width: 75%;
    }
    .part-one p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 140%;
        margin: 2% 15%;
        padding: 1%;
        width: 80%;
    }
    .part-one button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        margin: 5% 15% 0% 15%;
        width: 17vw;
    }
    .right-part .by-school,
    .right-part .by-degree {
        display: flex;
        flex-wrap: wrap;
        width: 78vw;
    }
    .right-part .by-school,
    .right-part .by-degree {
        display: flex;
        flex-wrap: wrap;
    }

    .pdf-card div {
        font-size: 1.1rem;
        background: #5b358d;
        width: 21vw;
        height: 9vh;
        padding: 3.5vw;
        margin: 1vw;
        text-align: center;
        position: relative;
        line-height: 100%;
        box-shadow: 6px 6px 11px 1px grey;
    }
    .pdf-card div:hover {
        background: #e80e4a;
        box-shadow: 1px 1px 6px 1px grey;
        cursor: pointer;
        transition: 1s;
    }
    .pdf-card hr {
        border-top: solid 0.15px;
        bottom: 18%;
        left: 25%;
        position: absolute;
        width: 50%;
    }
    .part-one button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: 5% 15% 0% 15%;
        width: 19.5vw;
    }
}

@media (max-width: 760px) and (min-width: 590px) {
    .pdf-card div {
        font-size: 1rem;
        width: 21vw;
        height: 10vh;
        padding: 4vw;
    }

    /* ------ footer ------- */
    .footer {
        background-image: url("../assets/footer-background.png");
        background-size: cover;
        width: 100%;
        padding: 4vh;
        background-repeat: no-repeat;
        float: left;
        display: grid;
        margin-top: 5vw;
        grid-template-rows: 2fr;
    }
    .ifram-div {
        grid-row: 2;
        width: 100%;
        margin: 2vw 5vw 0 0;
        padding: 0;
    }
    .ifram-div .ifram {
        margin: 0 auto 0 auto;
        width: 85vw;
        height: 55vw;
    }
    .footer-logo {
        width: 30vw;
        height: 20vh;
        margin: 1vw auto 2vw 2vw;
        display: block;
    }
    .contact-text {
        margin: 0 auto 0 2vw;
        display: block;
        width: 34vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);
    }
    .contact-info {
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 1em;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa {
        color: rgb(226, 205, 220);
        font-size: 1.1em;
        margin: 0.5vw;
    }
    .facebook,
    .instagram,
    .twitter {
        font-size: 2.2em;
        padding: 2.5vw;
    }
    .complaints-section {
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #e3b5d6;
        font-size: 1em;
        line-height: 4vh;
    }
    .complaints-section a {
        color: #e3b5d6;
    }

    .complaints-section a:hover,
    .fa:hover,
    .contact-info:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.938);
    }
    .social {
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}
@media (min-width: 1023px){

.second-section div p {
    /* border: solid; */
    font-family: "AlrightSans", sans-serif;
    font-size: 1.5vw;
    /* font-weight: 100; */
    line-height: 140%;
    padding: 2%;
    width: 90%;
}
.second-section div p {
    font-size: 1.5vw;
 
}
.second-section div a {
    font-size: 1.5vw;

}

.second-section div img {
    /* border: solid; */
    width: 54%;
    height: 6vw;
}
}