body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid  #E3B5D6;;
}
.pdf-card div:hover{
    cursor: pointer;
    background: rgb(197, 15, 31);
    transition: 650ms;
    box-shadow: 1px 1px 6px 1px grey;

}


.pdf-card{
    text-decoration: none;
    color: white;
}


.by-school-button , .by-degree-button{
    color: white;
    background: #efa51c;
    padding: 1.5vh;
    border: none;
    margin: 1vh;
    box-shadow: 3px 5px 10px 3px rgba(128, 128, 128, 0.774);
    }
    .by-school-button:hover , .by-degree-button:hover{
        box-shadow: 0px 2px 10px 0px rgba(128, 128, 128, 0.836);
        transition: 350ms;
    }
    .by-school-button:focus , .by-degree-button:focus{
        box-shadow: -3px -5px 10px 0px rgba(128, 128, 128, 0.808);
    }
    
@media (min-width: 768px){
    /* -------- Third section -------- */
    .third-section{
        margin: 4vw 0 3vw 0;
        display: grid;
        grid-template-columns: 35% 65%;
        line-height: 2vw;
    }
    .part-one{
        display: block;
        width:32vw;
        margin-top: 10vh;
        justify-items: center;
    }
    .part-one img{
        margin: 0 auto 0 5vw;
        width: 23vw;
        display: block;

    }
    .part-one p {
        margin: 0 auto 0 5vw;
        width: 23vw;
    }
    .part-one button{
        display: block;
        padding: .9vw;
        margin:2vw auto 1vw auto;
        width: 15vw;
    }

    .right-part .by-school , .right-part .by-degree{
        display: flex;
        flex-wrap: wrap;
    }

    .pdf-card div{
        font-size: 1.1rem;
        justify-content: center;
        background: #5B358D;
        width: 13vw;
        height: 11vh;
        padding: 3vw;
        margin: 1vw;
        text-align: center;
        box-shadow: 6px 6px 11px 1px grey;
    }

 
    /* ------------footer -------------- */
    .footer{
        background-image: linear-gradient(to bottom right, red, rgb(121, 21, 121));
        width: 100%;
        padding: 4vh;
        display: grid;
        grid-template-columns: 67% 33%;
        float: left;
    }
    .ifram-div{
        grid-column: 1;
        justify-content: center;
        margin-left: 4vw;
        margin-top: 1vh;
    }
    .ifram-div .ifram{
        width: 90%;
        height: 96%;
    }
    .contact-div{
    padding: .7vw;

    }
    .footer-logo{
        width: 12vw;
        height: 15vh;
        display: block;
    
    }
    .contact-text{
        display: block;
        width: 14vw;
        margin-top: 5vh;
        line-height: 1vh;
        color: rgb(233, 214, 227);

    }
    .contact-info{
        display: block;
        font-size: 1em;
        width: 23vw;
        color: rgb(233, 214, 227);
    }
    .fa{
        color: #E3B5D6;
        font-size: 1.1em;
        margin: .5vw;
    }
    .facebook , .instagram ,.twitter{
        font-size: 1.6em;
        padding: .5vw;
    }
    .complaints-section{
        width: 22vw;
        color: #E3B5D6;
        font-size: 1.1em;
        line-height: 4vh;
    
    }
    .complaints-section a{
        color: #E3B5D6;
    
    }

    .complaints-section a:hover ,.fa:hover ,.contact-info:hover{
        cursor: pointer;
    color: rgba(255, 255, 255, 0.938);
    }
}

@media (max-width: 768px){
    .pdf-card div{
        font-size: 1.2em;    
        background: #5B358D;
        width: 40%;
        padding: 12vw;
        margin:  4vw auto 1vw auto;
        text-align: center;
        box-shadow: 6px 6px 11px 1px grey;
    }

    .part-one button{
        display: block;
        padding: 2.7vw;
        margin:5vw auto 6vw auto;
        width: 40vw;
    }
    .part-one img{
        margin: 0 auto 0 auto;
        width: 60vw;
        display: block;

    }
    .part-one p {
        margin: 0 auto 0 auto;
        width: 60vw;
    }

    /* ------ footer ------- */
    .footer{
        background-image: linear-gradient(to bottom right, red, rgb(121, 21, 121));
        width: 100%;
        padding: 4vh;
        float: left;
        display: grid;
        margin-top: 5vw;
        grid-template-rows: 2fr;
    }
    .ifram-div{
        grid-row: 2;
        justify-content: center;
        /* margin-left: 2vw; */
        /* margin-top: 1vh; */
    }
    .ifram-div .ifram{
        width: 90vw;
        height: 55vw;
    }
    .footer-logo{
        width: 50vw;
        height: 20vh;
        margin: 1vw auto 2vw auto;
        display: block;
    
    }
    .contact-text{
         margin: 0 auto 0 2vw;
        display: block;
        width: 54vw;
        margin-top: 5vh;
        line-height: 5vh;
        color: rgb(233, 214, 227);

    }
    .contact-info{
        margin: 0 auto 0 2vw;
        display: block;
        font-size: 1em;
        width: 52vw;
        color: rgb(233, 214, 227);
    }
    .fa{
        color: rgb(226, 205, 220);
        font-size: 1.1em;
        margin: .5vw;
    }
    .facebook , .instagram ,.twitter{
        font-size: 2.2em;
        padding: 2.5vw;
    }
    .complaints-section{
        width: 52vw;
        margin: 0 auto 0 2vw;
        color: #E3B5D6;
        font-size: 1em;
        line-height: 4vh;
    
    }
    .complaints-section a{
        color: #E3B5D6;
    
    }

    .complaints-section a:hover ,.fa:hover ,.contact-info:hover{
        cursor: pointer;
    color: rgba(255, 255, 255, 0.938);
    }
    .social{
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}
